.btn-sort {
  button {
    text-transform: uppercase;
    padding: 0.8rem 2rem;
    background-color: var(--color-secondary);
    border: 0;
    border: 2px solid #000;
    border-radius: 3px;
    color: var(--color-primary);
    margin: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: #000;
      color: #fff;
      opacity: 0.8;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &.active {
    button {
      background-color: #000;
      color: #fff;
    }
  }
}
