.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: rgba(255, 255, 255, 1);
    // border-bottom: 2px solid var(--color-primary);
    margin-bottom: 2rem;

    &__title {
      margin: 1rem 0 1rem 0;
      font-size: 3rem;
      font-family: Karla;
      color: var(--color-primary);
    }

    &__description {
      margin-left: 2rem;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    &__options {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 0.8rem;

      &__first {
        display: flex;
      }

      &__second {
        display: flex;
      }

      &__type {
        width: 95%;
        display: flex;
        margin-top: 0.5rem;
        button {
          border: 0;
          width: 50%;
          padding: 1rem 0;
          border: 2px solid var(--color-accent-1);
          font-weight: bold;
          cursor: pointer;
          transition: all 0.2s;

          &:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
          }

          &:last-child {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
          }

          &.active {
            background-color: var(--color-accent-1);
            color: #fff;
          }
        }
      }
    }
  }
}
