.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: rgba(255, 255, 255, 1);
    // border-bottom: 2px solid var(--color-primary);
    margin-bottom: 2rem;

    &__title {
      margin: 1rem 0 1rem 0;
      font-size: 3rem;
      font-family: Karla;
      color: var(--color-primary);
    }

    &__description {
      margin-left: 2rem;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    &__options {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 0.8rem;

      &__first {
        display: flex;
      }

      &__second {
        display: flex;
      }
    }
  }
}
