.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: rgba(255, 255, 255, 1);
    // border-bottom: 2px solid var(--color-primary);
    margin-bottom: 2rem;

    &__title {
      margin: 1rem 0 1rem 0;
      font-size: 3rem;
      font-family: Karla;
      color: var(--color-primary);
    }

    &__description {
      margin-left: 2rem;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    &__options {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 95%;
      max-width: 40rem;

      &__items {
        width: 95%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-top: 2px solid var(--color-accent-1);
        border-left: 2px solid var(--color-accent-1);
        border-right: 2px solid var(--color-accent-1);
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;

        button {
          border: 0;
          padding: 1rem 0.5rem;
          width: 100%;
          font-weight: bold;
          cursor: pointer;

          &.selected {
            background-color: var(--color-accent-1);
            color: var(--color-secondary);
          }

          & + button {
            border-left: 2px solid var(--color-accent-1);
          }
        }
      }

      &__type {
        width: 95%;
        display: flex;

        button {
          border: 0;
          width: 50%;
          padding: 1rem 0;
          border: 2px solid var(--color-accent-1);
          font-weight: bold;
          cursor: pointer;
          transition: all 0.2s;

          &:first-child {
            border-bottom-left-radius: 0.5rem;
          }

          &:last-child {
            border-bottom-right-radius: 0.5rem;
          }

          &.active {
            background-color: var(--color-accent-1);
            color: #fff;
          }
        }
      }

      &__search {
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 2rem;
          border: 0;
          box-shadow: 0 0 1.4rem 0 rgba(0, 0, 0, 0.2);
          padding: 1rem 2rem;
          border-radius: 10rem;

          font-weight: bold;
          background-color: var(--color-accent-2);
          cursor: pointer;
          transition: all 0.2s;

          svg {
            margin-right: 1rem;
          }

          &:hover {
            opacity: 0.8;
          }

          &:active {
            transform: scale(0.9);
          }

          &:focus {
            outline: none;
            filter: brightness(80%);
          }
        }
      }
    }
  }
}
