.building-card {
  background-color: #fff;
  display: flex;
  flex: 1;
  width: 95%;
  max-width: 50rem;
  border-radius: 3px;
  margin: 0px 0px 3rem 1rem;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);

  &__image {
    width: 30%;
    height: 20rem;
    overflow: hidden;
    background-color: #ddd;

    img {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: 2rem;
    margin-left: 2rem;
    position: relative;

    &__title {
      margin-top: 2rem;
      font-size: 2.2rem;
      color: var(--color-primary);
      padding-bottom: 1rem;
      border-bottom: 1px solid #ccc;
    }

    &__address {
      line-height: 2rem;
      font-size: 1.5rem;
      margin-top: 1rem;
    }

    &__price {
      font-weight: bold;
      line-height: 2rem;
      font-size: 1.5rem;
      margin-top: 1rem;
    }

    &__details {
      position: absolute;
      display: flex;
      align-items: center;
      bottom: 2rem;
      border: 1px solid var(--color-accent-1);
      padding: 1rem 2rem;
      border-radius: 3px;
      color: var(--color-accent-1);
      background-color: #fff;
      text-transform: uppercase;
      align-self: flex-end;
      margin-top: 3.5rem;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background-color: var(--color-accent-1);
        color: #fff;
      }

      &:active {
        transform: scale(0.9);
      }

      svg {
        font-size: 1.5rem;
        margin-left: 0.5rem;
      }
    }
  }
}
