@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --color-primary: #04080f;
  --color-secondary: #edf2f4;
  --color-accent-1: #00a19a;
  --color-accent-2: #ffe74c;
  --color-accent-3: #db5375;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: Roboto, sans-serif;
  background: linear-gradient(to bottom, #ffffff30, #edf2f430), url("./images/background1.jpg") no-repeat fixed;
  background-size: cover;
  background-position: fixed;
}
